@import 'variables';
@charset "UTF-8";

// Styles globaux
body {
    font-family: $font-family-base, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}